

body {
  margin: 0;
  text-align: center;
}

p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 2.5rem;
}

h1 {
  font-size: 5.625rem;
  padding: 50px 0 0 0;
  margin: 0 auto 0 auto;
  font-family: 'Merriweather Sans', sans-serif;

}

.top {
  margin-top: 0;
  background-color: #E4F9F5;
  position: relative;
}

.fiz-profile {

  height: 200px;
}

.bottom-cloud {
  position: absolute;
}


.gr {
  text-decoration: underline;
  font-family: 'Great Vibes', cursive;
}
.top-cloud {
  position: absolute;
  right: 100px;
  top: 10px;
}

.skill-img {
  height: 200px;
}

.coffee {
  height: 200px;
}
